<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tomwo.app.baking">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-feature android:name="android.software.app_widgets" android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!-- MainActivity -->
        <activity android:name=".ui.activities.MainActivity"
                  android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />

                <!-- adds a Deep Link -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="www.google.com"/>
            </intent-filter>

        </activity>

        <!-- DetailActivity -->
        <activity
            android:name=".ui.activities.DetailActivity"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity"/>
        </activity>

        <!-- App widget components -->
        <receiver
            android:name=".ui.appwidget.RecipeWidgetProvider"
            android:label="@string/app_name"
            android:icon="@drawable/ic_baking"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>

        <!-- The service serving the RemoteViews to the collection widget -->
        <service
            android:name="com.tomwo.app.baking.ui.appwidget.RecipeWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />

    </application>
</manifest>